<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/api/app01/reg" method="post">
    {% csrf_token %}
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="text" name="re_password">
    <input type="text" name="email">
    <input type="submit" value="注册">
</form>
<p>dasbjbasdkjbads</p>
<form action="/api/app01/login" method="post">
    {% csrf_token %}
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="登陆">

    <a href="/api/app01/logout">注销</a>
</form>

<form action="/api/app01/addplay" method="post">
    {% csrf_token %}
    <input type="text" name="name">
    <input type="text" name="brief_info">
    <input type="text" name="play_length">
    <input type="text" name="price">
    <input type="text" name="image">

    <input type="submit" value="新增影片">
</form>
</body>
</html>